@use '@angular/material' as mat;

:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 250px 1fr;
}

.main-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
  padding: 1rem;

  & :hover:not(:focus) {
    color: var(--mat-sys-on-surface);
  }

  & :focus {
    color: var(--mat-sys-primary);
  }

  @include mat.list-overrides((
    active-indicator-color: var(--mat-sys-on-tertiary),
    list-item-label-text-color: var(--mat-sys-primary),
    list-item-focus-label-text-color: var(--mat-sys-primary),
    list-item-leading-icon-color: var(--mat-sys-primary),
    list-item-hover-label-text-color: var(--mat-sys-on-surface)
  ));

  &__logo {
    height: 90px;
    max-width: 70%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
  }
}

.main-content {
  display: grid;
  grid-template-rows: 0 1fr;
  padding: 1rem;
  overflow: hidden auto;
}
