:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 250px 1fr;
}

.main-nav {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-surface);
  padding: 1rem;
}

.main-content {
  padding: 1rem;
  overflow: hidden auto;
}
